{% extends "base.html" %}

{% block content %}
<p>Меня зовут Кузнецов Никита, и это мой дипломный проект по созданию интернет-магазина для аптеки. Я заканчиваю свое
    обучение по программе "Цифровые профессии: Python-разработчик" на платформе Geek Brains.</p>
<p>Я изучаю разработку на языке python уже несколько лет и мой проект по созданию интернет-магазина является частью
    моего обучения. В этом проекте я стараюсь применить все знания и навыки, которые я приобрел, и создать
    максимально полезный и удобный интернет-магазин.</p>
{% endblock %} 